#table-container td {
    font-size: 17px;
    font-weight: 800;
    border: 1px solid lightblue;
    padding: 15px;
}

tr.saving td.save input {
    display:none;
}

tr.saving .saving-text {
    display:block;
}

.saving-text {
    display: none
}

.error-text {
    color: red;
}